form {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    height: 100%;
    width: 600px;
    background: var(--sidebar-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 16px;
    margin-top: 60px;
}

.form-direction-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

input,
textarea,
select {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 100%;
    color: grey;
}

.input-icon {
    width: 100%;
    background-color: #eee;
    gap: 0;
    color: black;
}

.input-icon span {
    padding: 0 8px;
}

.input-icon label {
    padding: 10.5px 8px;
    background-color: #cecece;
    height: 100%;
    font-size: 14px;
}

input[type="file"]::file-selector-button {
    display: none;
}

input[type="date"] {
    padding: 10.5px 15px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none !important;
}

textarea {
    resize: none;
}

.text-success {
    color: var(--font-color);
    background-color: rgba(120, 255, 120, 0.486);
    padding: 10px;
}

.text-error {
    color: var(--font-color);
    background-color: rgba(255, 120, 120, 0.486);
    padding: 10px;
}

.input-error {
    border: 1px solid red;
    /* background-color: rgba(254, 143, 143, 0.317); */
}

.checkbox-input {
    display: flex;
    flex-direction: row;
    /* margin: 16px 0 0; */
    font-size: 13px;
    align-items: center;
    gap: 14px;
}

.checkbox-input input[type='checkbox'] {
    height: 14px;
    width: 14px;
    padding-left: 10px;
}

#subtasks {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.attachment {
    font-size: 14px;
    font-weight: 500;
}
