@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import '../css/Forms.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {

    /*Dark theme*/

    /* --background-color: #F1FAFF;
    --background-gradient-end: #CBE4FF;
    --sidebar-bg: #151A2D;
    --font-color: #151A2D;
    --sidebar-font-color: #fff;
    --inverted-image: invert(100%);
    --hover-bg: #ffffff;
    --hover-font-color: #151A2D;
    --toggler-bg: #ffffff;
    --search-bar-bg: #f1faff86;*/

    /*Light theme*/

    --background-color: #F1FAFF;
    --background-gradient-end: #CBE4FF;
    --sidebar-bg: #fff;
    --font-color: #151A2D;
    --sidebar-font-color: #151A2D;
    --inverted-image: invert(0%);
    --hover-bg: #151A2D;
    --hover-font-color: #ffffff;
    --toggler-bg: #151A2D;

    --search-bar-bg: #151a2da5;
}

.active {
    color: var(--hover-font-color) !important;
    background: var(--hover-bg);
}

.d-flex-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.d-flex-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

body {
    min-height: 100vh;
    /* background: linear-gradient(#F1FAFF, #CBE4FF); */
    scroll-behavior: smooth;
    color: var(--font-color);
    background-color: var(--background-color);
    all: unset;
}

.sidebar {
    position: fixed;
    width: 200px;
    margin: 16px;
    border-radius: 8px;
    background: var(--sidebar-bg);
    height: calc(100vh - 32px);
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar .sidebar-header {
    display: flex;
    position: relative;
    padding: 25px 20px 0;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
}

.sidebar.collapsed .sidebar-header {
    border-color: #cbe4ff00;
    padding: 25px 20px;
}

.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    filter: var(--inverted-image);
}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    color: var(--sidebar-bg);
    border: none;
    cursor: pointer;
    display: flex;
    background: var(--toggler-bg);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 20px;
}

.sidebar-header .menu-toggler {
    display: none;
}

.sidebar.collapsed .sidebar-header .toggler {
    transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
    background: #dde4fb;
}

.sidebar-header .toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler span {
    transform: rotate(180deg);
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
    max-height: 412px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

.sidebar.sidebar.collapsed .submenu-item,
.sidebar.sidebar.collapsed .submenu-arrow {
    display: none;
}

.sidebar-nav .nav-list::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
}

.sidebar .sidebar-nav .primary-nav {
    max-height: 350px;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
    max-height: 300px;
}

.sidebar-nav .nav-link,
.submenu-item a {
    color: var(--sidebar-font-color);
    display: flex;
    gap: 12px;
    white-space: nowrap;
    border-radius: 8px;
    padding: 8px 15px;
    align-items: center;
    /* justify-content: space-between; */
    text-decoration: none;
    transition: 0.4s ease;
}

.submenu-item a {
    padding: 8px 5px;
    gap: 8px;
}

.sidebar.collapsed .sidebar-nav .nav-link {
    border-radius: 12px;
}

.sidebar .sidebar-nav .nav-link .nav-label {
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .nav-link:hover,
.submenu-item a:hover {
    color: var(--hover-font-color);
    background: var(--hover-bg);
}

.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .nav-tooltip {
    position: absolute;
    top: -10px;
    opacity: 0;
    color: var(--font-color);
    display: none;
    pointer-events: none;
    padding: 6px 12px;
    border-radius: 8px;
    white-space: nowrap;
    background: var(--background-color);
    left: calc(100% + 25px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(50%);
    transition: all 0.4s ease;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.submenu {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 4px;
}

.open-submenu {
    display: flex !important;
}

.submenu .submenu-item {
    display: flex;
}

.submenu.open .submenu-item {
    display: block;
}

.submenu-arrow {
    position: absolute;
    right: 10px;
    top: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.main-content {
    margin-left: 210px;
    padding: 20px;
    height: 100%;
    transition: all 0.4s ease;
}

/* .project-content {
    margin-left: 77px;
} */
/*
.project-tool {
    position: fixed;
    background: var(--sidebar-bg);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    height: calc(100vh - 100px);
}

.project-nav {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 16px;
}

.project-nav a {
    text-decoration: none;
    color:var(--font-color)
}

.project-item {
    font-size: 14px;
} */

.page-header {
    margin-bottom: 20px;
}

.sidebar.collapsed+.main-content {
    margin-left: 100px;
}

.card {
    background: var(--sidebar-bg);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1;
    min-width: 200px;
}

.top-panel {
    padding: 10px;
}

/* Responsive media query code for small screens */
@media (max-width: 1024px) {
    .sidebar {
        height: 56px;
        margin: 13px;
        scrollbar-width: none;
        width: calc(100% - 26px);
        max-height: calc(100vh - 26px);
    }

    .sidebar.menu-active {
        height: 56px !important;
        overflow-y: auto;
    }

    .sidebar .sidebar-header {
        position: sticky;
        top: 0;
        z-index: 20;
        border-radius: 16px;
        padding: 8px 10px;
        flex-direction: row-reverse;
    }

    .sidebar-header .header-logo img {
        width: 40px;
        height: 40px;
    }

    .sidebar-header .sidebar-toggler,
    .sidebar-nav .nav-item:hover .nav-tooltip {
        display: none;
    }

    .sidebar-header .menu-toggler {
        display: flex;
        height: 30px;
        width: 30px;
    }

    .sidebar-header .menu-toggler span {
        font-size: 1.3rem;
    }

    .sidebar .sidebar-nav .nav-list {
        padding: 0 10px;
        max-height: 420px;
    }

    .sidebar-nav .nav-link,
    .submenu-item a {
        gap: 10px;
        padding: 10px;
        font-size: 0.94rem;
    }

    .sidebar-nav .nav-link .nav-icon {
        font-size: 1.37rem;
    }

    .sidebar-nav .secondary-nav {
        bottom: 0;
        margin: 40px 0 30px;
    }

    .sidebar-nav {
        position: absolute;
        top: 47px;
        left: 0;
        width: fit-content;
        height: calc(100vh - 56px);
        scrollbar-width: none;
        background-color: var(--sidebar-bg);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .submenu {
        padding-left: 0;
    }

    .submenu-item {
        padding-left: 6px;
    }

    .main-content {
        margin-left: 0;
        padding: 85px 20px 0;
        width: 100%;
    }

    .d-flex-row-container {
        flex-wrap: wrap;
    }

    .table {
        width: max-content;
    }
}

button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    background: var(--toggler-bg);
    color: var(--sidebar-bg);
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.btn-no-bg {
    background: transparent;
    color: var(--font-color);
    padding: 0;
    cursor: pointer;
}

.btn-edit {
    background: #ffa8263e;
    padding: 3px;
}

.btn-edit span {
    color: #ffa826;
}

.btn-delete {
    padding: 3px;
    background: #e538353e;
}

.btn-delete span {
    color: #e53835;
}

.table-container {
    overflow: hidden;
    overflow-x: scroll;

    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container::-webkit-scrollbar  {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* margin-top: 24px; */
    background: var(--background-color);
    border-radius: 8px;
    font-size: 14px;
}

table th,
table td {
    padding: 12px 16px;
    text-align: left;
    /* border-bottom: 0.5px solid #f0f0f050; */
    vertical-align: top;
}

table th {
    background: var(--sidebar-bg);
    font-weight: 600;
    padding: 16px;
    color: var(--font-color);
    border-bottom: 1.4px solid rgb(197, 197, 197);
}

table tr {
    background: var(--sidebar-bg);
}

table tbody tr:nth-child(even) {
    background: var(--sidebar-bg);
}

table tbody tr:hover {
    background: #f0f4ff;
    transition: background 0.2s;
}

table ul {
    margin: 0;
    padding-left: 18px;
}

table a {
    color: #1976d2;
    text-decoration: underline;
    word-break: break-all;
}

table span {
    color: #aaa;
}

#kanban-view {
    display: none
}

.kanban-board {
    display: flex;
    width: 100%;
    gap: 24px;
    overflow-x: auto;
    font-size: 14px;
}

.kanban-column {
    background-color: var(--background-color);
    border-radius: 8px;
    min-width: 232px;
    flex: 1;
    padding: 0 16px 16px;
    display: flex;
    flex-direction: column;
}

.kanban-column-header {
    font-weight: 500;
    margin-bottom: 12px;
}

.kanban-tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.kanban-task-card {
    background: var(--sidebar-bg);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.kanban-task-desc {
    font-weight: 500;
}

.kanban-task-assigned {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}

.kanban-task-assigned .profile-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

.kanban-task-tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.kanban-task-dates {
    margin-top: 8px;
    color: #000000;
}

.kanban-task-actions {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.kanban-no-tasks {
    color: #bbb;
    text-align: center;
    padding: 16px 0;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--sidebar-bg);
    padding: 8px;
    border-radius: 4px;
    border: 0.1px solid var(--search-bar-bg);
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--font-color);
}

.search-bar input::placeholder {
    color: #aaa;
}

.search-bar button {
    background: transparent;
    color: var(--font-color);
    padding: 0;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.search-bar button:hover {
    background: #dde4fb;
}

.tags {
    display: inline-block;
    padding: 0.25em 0.75em;
    border-radius: 4px;
    font-size: 0.92em;
    font-weight: 500;
    color: #fff;
    background: #bdbdbd;
    margin-right: 6px;
    margin-bottom: 4px;
}

.tag-primary {
    background: #1976d23e;
    color: #1976d2;
}

.tag-success {
    background: #43a0483e;
    color: #43a048;
}

.tag-warning {
    background: #ffa8263e;
    color: #ffa826;
}

.tag-danger {
    background: #e538353e;
    color: #e53835;
}

.tag-grey {
    background: #e0e0e0;
    color: #757575;
}

.input-filter {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--sidebar-bg);
    padding: 8px;
    border-radius: 4px;
    border: 0.1px solid var(--search-bar-bg);
    color: var(--font-color);
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Modal content */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px 30px;
    border-radius: 8px;
    width: fit-content;
    max-width: 500px;
    position: relative;
}

.modal-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.modal-btns button {
    padding: 10px 20px;
}

.modal form {
    box-shadow: none;
    width: fit-content;
    padding: 0;
}

.task-btn {
    margin-top: 10px;
    background-color: rgb(205, 205, 205) !important;
    border-radius: 2px;
    padding: 0 4px !important;
}

.task-card {
    text-align: left;
    font-size: 14px;
    margin: 5% auto;
}

.task-title {
  font-size: 20px;
  font-weight: bold;
}

.task-desc {
  color: #555;
  margin-top: 8px;
}

.task-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
}

.task-meta strong {
    font-size: 13px;
}

.task-sub {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.task-sub .checkbox-input {
    /* border: 0.5px solid black; */
    display: inherit;
    gap: 7px;
    flex-direction: row;
    padding: 3px;
    border-radius: 4px;
    align-items: center;
}

.task-sub .checkbox-input input{
    width: 14px;
    height: 14px;
}

.task-progress {
  margin-top: 20px;
}

.progress-bar {
  background: #eee;
  height: 8px;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
}

.progress-fill {
  background: #f9c851;
  height: 100%;
  border-radius: 5px;
}

.progress-text {
  float: right;
  font-size: 12px;
  margin-top: 4px;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.task-stats span {
  margin-right: 15px;
}


/* Close button */
.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}
